{% load static %}
<!DOCTYPE html>
<html data-theme="dark">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Авторизація</title>
  <link rel="stylesheet" href="{% static 'css/login.css'%}" type="text/css">
  <script src="{% static 'js/scripts.js' %}"></script>
</head>
<body>
  <main>
    <form method="POST">
      <h1>Будь ласка, авторизуйтесь для роботи на сайті</h1>
      {% csrf_token %}
      <input placeholder="Нікнейм" type="text" name="username" id="username"><br>
      <input placeholder="Пароль" type="password" name="password" id="password"><br>
      <button>Login</button>
      <!-- {{ form.errors }} -->
    </form>
  </main>

</body>
</html>
