{% extends 'app/base.html' %}
{% load static %}

{% block title %}
Головна
{% endblock %}


{% block main %}
    <h1 id="textbook" class="kvadratik">Підручник з історії ДРШП</h1>
  <div class="book">

    Шановне панство! Історія нашої країни іде від початку нашої ери. Тому приготуйтеся до того, що вам потрібно буде, читати цей коротенький підручник декілька разів щоб запам’ятати все важливе, що буде нижче. <br>
    <br>
   <h2> Перша частина. 0012-1989</h2>
    Нам нажаль небагато відомо про історію Шановного Панства, особливо в ці рока, але дещо я Вам розповім:<br>
    У 12 році нашої ери римський історик Пріск Панійський записав в своїй книзі такі слова:
    «…і засурмили труби наши на тривогу, побачили ми щогли човнів великих. І вторглись вони на землі наші під прапорами
    невідомими нам! Нікого вони не вбивали, окрім воїнів які послані були проти них. І шляхетність їх була значна. І
    кричали вони «Наші землі це Монтона (Римська Імперія)!» І билися вони з нами як леви, і сам я потрапив до них у
    полон. Увірвалися вони до мене, але не вбили в той же час, дозволили мені взяти вугілля для письма і книги мої. Тоді
    посадили мене на спину якомусь моторошному чудовиську, якого привезли з собою з моря. На морді у нього був значно
    великий відросток, він їм як рукою розбивав воїнів хоробрих наших. А тут почув я хто вони, почув їх гнівний бойовий
    клич: “Шановне Панство! За вітчизну!”» <br>
    Ось і перша згадка про нашу країну. Відомо що захопити Монтону нашим предкам не вдалося і вони розбиті були
    відтіснені до того місця де зараз знаходиться Олено-Миколаївськ (стара назва – Кишинів). «А програли війська їх тому
    що шляхетності і милосердя у них було більше, ніж розсудливості. Не могли вони вбивати полонених і підняли вони тоді
    бунт в середині війська їх. І підірвали вони їх сили – повідомляє нам Пріск Панійський – і відступали вони захищаючи
    по дорозі жінок і дітей своїх». <br>
    Далі про наших предків нічого не відомо, відомо тільки що весь цей час наша країна була залежна і страждала під
    ярмом інших держав. Але достовірно відомо, що Арма́н Емманюе́ль Софі́я Септімані́я де Віньєро́ дю Плессі́, ге́рцог
    д'Егійо́н, ге́рцог де Фронса́к, герцог де Рішельє́ засновник Рішельєвського ліцею, що нині є нашою територією був
    нащадком того легіону людей що вторглися у Римську Імперію з океану. На цьому ми завершимо з першою частиною, бо не
    дано нам знати більшого. <br>
    <br>
    <h2>Друга частина. 1989 рік – 2024 рік </h2>
    Коли був сформований Рішельєвський науковий ліцей, як навчальний заклад при університеті ім. І. І. Мечникова, в ньому
    почалися формуватися різні держави. Але ми перейдемо ближче до фактичного створення ДР Шановне Панство. <br>
    У 2021 році сформувалася держава 7(6)-Я клас. Тоді ми ще спілувалися за допомогою "Viber". Але 10 вересня
    минулий громадянин Михайло Коломієць запропонував справді гарну ідею - продовжити спілкування в "Telegram". Він
    створив групу 7-Я, додав туди всіх нас. Багато хто був проти такого рішення, але спілкуватись продовжили в цьому
    месенджері. 30 вересня 2022 року розпочалася суперечка, яка пізніше переросла у війну та в ході якої власник групи
    видалив абсолютно усіх. В суперечці і піднялось питання про мову, половина вважала, що немає значення якою мовою
    розмовляти і взагалі мова не впливає на війну, а інші вважали, що мовний фронт один з найважливіших і, що є різниця
    якою мовою розмовляти. І тоді ми вже майже розділились. Всі ті, хто вважали, що мова важлива і потрібно
    вдосконалювати наші знання створили повноціну групу, а точніше її створила Софія Смолянська. Тоді вперше з’явився
    повноцінний термін, який на той момент звучав просто - “Шановне Панство”. Вже через 5 хвилин утворилось перше
    правило, перша “стаття”, яка звучала так: “робіть, що хочете!”. Правило, що розмовляти можна тільки українською
    мовою було за замовчуванням. Вже майже через тиждень утворилась перша версія Конституції, створена Амірою Жуковою 6
    жовтня 2022 року. Цей документ мав назву “Незалежна Конституція Шановного Панства”. І виглядала вона таким чином:
    <br>
    <br>
    “стаття 1. Людина, її життя і здоров'я, честь і гідність, недоторканність і безпека визнаються в нас найвищою
    соціальною цінністю. <br>ПРИМІТКА: закон не працює на не шановних людей.<br>
    стаття 2. Панство є незалежною, демократичною, правовою державою. <br>
    стаття 3. Відкріпляти повідомлення без згоди як мінімум 60% людей ЗАБОРОНЕНО. <br>
    стаття 4. Приймати рішення без згоди як мінімум 60% людей ЗАБОРОНЕНО. <br>
    стаття 5. Спілкуватися треба обов'язково українською мовою. Державною мовою. <br>
    стаття 6. Рабство заборонено на території панства. <br>
    стаття 7. Якщо ви спілкуєтесь москальською, ви становитесь не шановним паном. Суржик дозволений. <br>
    стаття 8. Жалуватися вчителями КАТЕГОРИЧНО ЗАБОРОНЕНО І КАРАЄТЬСЯ
    <span class="hover-text">ПЕРМАНЕНТНИМ</span> БАНОМ.
    <img class="hidden-image" src="{% static 'img/2536chern..png' %}" alt="Картинка">
    <br>
    стаття 9. Обов'язково знати легендарну пісню Вадима. <br>
    стаття 10. Якщо гос-служучий бере взятку, він перестає бути шановним паном.”
    <br>
    <br>
    Тоді Конституція була маленькою за обсягом та змістом, вона вміщалась у ліміти
    телеграму, не була найважливішим документом ДРШП, ще не була причиною двох революцій. Вже тоді
    відбулись перші опитування, які мали важливий вплив на Конституцію, які додали статтю про рабство, яка існує і
    зараз.
    <br>У той же день був створений суд. Згодом країна російськомовних занепала, а наша країна продовжила свій розвиток.
    <br>
    1 листопада Конституція отримала вже звичний для нас всіх вигляд. Вона була поділена на розділи. Незалежна
    Конституція Шановного Панства.
    <br>
    “Розділ 1. Права та обов'язки людини <br>
    Стаття 1.1. Людина, її життя і здоров'я, честь і гідність, недоторканність і безпека визнаються в нас найвищою
    соціальною цінністю.<br>
    ПРИМІТКА: Закон не працює на не шановних людей. <br>
    Стаття 1.2. Кожна людина має невід'ємне право на життя, честь, безпеку і недоторканність. Якщо ж хтось або щось
    порушує ці чотири пункти, то жертва має право порушити закон. <br>
    Стаття 1.3. Кожний затриманий має право у будь-який час оскаржити в суді своє затримання. Після затримання людини
    товарищі, адвокат та інші близькі люди з шановного панства будуть негайно сповіщені <br>
    Стаття 1.4. Рабство заборонено на території панства. Всі люди в цьому плані рівні. ПРИМІТКА: Заборонено саме
    рабство, але мати слугу дозволено. Проте лише за умови, якщо Вам його видали в ході компенсації збитків за вироком
    судді.<br>
    Стаття 1.5. Спілкуватися треба обов'язково українською мовою. Державною мовою.<br>
    Стаття 1.6. Обов'язково знати легендарну пісню Вадима і наше патріотичне гасло <br>
    Стаття 1.7. Кожний учасник групи Шановне панство, та ті хто були її учасниками не мають права передавати будь-яку
    важливу інформацію, інформацію яка може вплинути на якось у групу, будь-кому крім інших учасників. Порушення
    карається 30 денним позбавленням права писати. <br>
    Стаття 1.8.1.Кожному гарантується право на свободу думки і слова, на вільне вираження своїх поглядів і переконань.
    <br>
    Стаття 1.8.2. Людина може залишитись без права свободи слова і голоса, ТІЛЬКИ під час покарання за порушення законів
    Шановного панства. <br>
    Стаття 1.9. Кожен має право на свободу світогляду і віросповідання. Це право включає свободу сповідувати будь-яку
    релігію або не сповідувати ніякої, безперешкодно відправляти одноособово чи колективно релігійні культи і ритуальні
    обряди, вести релігійну діяльність. <br>
    Стаття 1.10. Якщо ви спілкуєтесь москальською, ви становитесь не шановним паном. Суржик дозволений. <br>
    Стаття 1.11. Опубліковувати медіа або текстові повідомлення які не несуть ніякого смислового навантаження (спам)
    більше ніж 5 раз на 5 хвилин не можна (наліпки, гіфи, фото, відео, силки, текст). Кара буде обрана судом в
    залежності від характеру спама. <br>
    Стаття 1.12. Лайку використовувати заборонено. Порушення карається позбавленням права писати на 1 день.<br>
    Розділ 2. Вибори і референдуми.<br>
    Стаття 2.1. Відкріпляти повідомлення без згоди як мінімум 60% людей ЗАБОРОНЕНО. <br>
    Стаття 2.2. Приймати рішення без згоди як мінімум 60% людей ЗАБОРОНЕНО. ПРИМІТКА: Цей закон не працює під час
    судового процесу. <br>
    Стаття 2.3. Завжди під час створення анонімного опитування, в якому хтось не може голосувати треба створювати
    спеціальний варіант відповіді для цієї людини. Тобто, в опитуванні “Видаляємо дауна?” мають бути варіанти відповіді:
    “так”, “ні”, “я даун”. ПРИМІТКА: Бажано створювати не анонімні вибори, тоді Ви не будете вимушені слідкувати цій
    статі.<br>
    Розділ 3. Суд, державні робітники.<br>
    Стаття 3.1. Якщо гос-служучий бере взятку, він перестає бути шановним паном. <br>
    Стаття 3.2. Під час судового процесу суддя, адвокат, колегія суддею, суд присяжних, прокурор мають право спиратися
    на Конституцію і закони України (під час не збігу між законами цих могутніх держав привілегії надаються законам
    Шановного <br>
    Розділ 4. Санкції <br>
    Санкція 1. Пакет за визнання ДНР та ЛНР, ми забороняємо та прибираємо весь імпорт та експорт. <br>
    Санкція 2. Пакет за вторгнення в Україну та шановне панство. Пририваємо всі зв'язки, і не визнаємо територію
    завоюваною росією, і вимагаємо повернення їй збитків у розмірі 900 млн. доларів готівкою та 100 млн. доларів
    золотом.”
    <br>
    З того моменту деякі статті абсолютно не змінилися. <br>
    14 листопада того ж року був створений і прийнятий <a href="https://docs.google.com/document/d/1hxdW88-6vowdsSl4a9U4kmzx-uWEv_RosSvy2GVRmac/edit?usp=sharing">акт незалежності нашої держави</a>. 100% народу проголосувала за прийняття акту. 
    Вже рівно через тиждень (21.11.2022.) ми почали відвойовування наших стародавніх територій, що належали нам ще з
    початку нашої ери. Саме тоді країна була перейменована в Демократичну Республіку Шановне Панство. Приблизно у цей
    період почався розвиток культури нашої країни. <br>
    24 грудня сталася Велика Революція Рівностей 1 яка була спрямована на утворення більш справедливої держави і
    скасувала всі минулі установи. Організатори цієї революції назвали нашу державу “тупою грою” і були засуджені за це
    противником революції. Організаторами революції були Смолянська Софія і Аміра Жукова, направлена вона була проти
    Микити Гавриченко, який захопив владу будучи простим суддею. Все сходилось до того, що тебе могли арештувати за
    елементарний суржик чи не знання гімну ДРШП чи патріотичного гасла!<br>
    Але вже 12 січня народ вирішив, що влада потрібна і сталася Революція Парламентаріїв згідно з якою, поверталася
    Конституція. Були проведені реформи, і обиралися 2 міністри. Її організаторами були Микита Гавриченко та Марія
    Вакеряк, які і стали першими міністрами. <br>
    Проте, вже через 2 дні вітряний народ не був задоволений новою реформою і знов скасував де-факто всі установи і
    реформи разом з міністрами. Розпочалася доба анархії. Але не можливо, щоб анархія продовжувалася вічність. Стався
    найбільш поганий кінець анархії - диктатура. Диктатором стала власниця групи Софія Смолянська. Беззаконне правління
    диктатора не сподобалося народу і настала Велика Революція Рівностей 3. Її організаторами були Микита Гавриченко і
    Аміра Жукова. Влада була установлена знов і всі статути, були повернуті 01.03. І нарешті, через 11 днів встановлення
    початкових порядків були проведені другі повноцінні вибори міністрів. 12.03. був створений другий дуумвірат
    міністрів, який править і по сьогодні (22.09.2023). Тоді з’явилась така професія, як радник міністрів. І це місце
    посів бідний Микита, який пахав день і ніч задля держави. Вже 07.04. він запропонував валюту Респан. <br>
    З нового навчального 2023-2024 року ДРШП за кількістю громадян стрімко зросла. По найскромнішим розрахункам темп
    зростання становив 10 громадян на місяць (⅓ громадянина у день). <br>
    2 листопада був створений цитатник Шановного Панства, а вже через 10 днів була викладена перша цитата. В цей же час
    зародилась ідея оновлення символіки Панства, створення бота і сайту. І 9 листопада була створена <a
      href="{% url 'Sect' %}">секта розробників сайту і бота</a>, як і перші прототипи нового гербу. <br>
    7 грудня був оновлений герб ДРШП сконструйований Марією-Анастасією Балан. На ньому ми бачимо двох величних створінь
    і багато не таких і двобічних прекрас, які не обділені своїм символізмом. <br>
    Гріфон позначає могутність, владу, пильність, швидкість і силу.
    Єдиноріг- захист,чесноту,любов і гармонію.
    Колокол - демократію.
    Лавровий лист - перемогу та могутність.
    Чабрец - здоров’я.
    Голубий колір - досконалість, спрямованість до ідеалу.
    Зелений колір - дружбу, шляхетність, спрямованість до перемоги
    <br>
    Через декілька днів був написаний план сайту, який в новому 2024 році став активно розроблятись. Під час розробки
    секта поповняла свою популяцію, але і втрачала своїх бійців. Проте не дивлячись на всі перешкоди, які ставали перед
    розробкою сайту, він був зроблений і дописаний. І наступила нова ера - ера технічного прориву. <br>
    Ось і все, любі учні, держава без історії немає майбутнього!
    <br> І по сьогоднішній день, Конституція існує та оновлюється. Розвивається та відповідає нашим потребам.
  </div>
  <h1 id="constitution">Конституція Панства</h1>
  <h2 class="kvadratik" >Найголовніші статті</h2>
  <div class="book"> <br>
    Стаття 1.1. Людина, її життя і здоров'я, честь і гідність, недоторканність і безпека визнаються в нас найвищою
    соціальною цінністю.
    Порушення карається дводенним позбавленням права писати.
    Міністр має право видалити повідомлення, що на його думку порушує данну статтю з ціллю, щоб воно не порушувало
    честь, гідність, недоторканість громадян.
    <br>ПРИМІТКА: Всі громадяни Шановного Панства є Шановними Панами (окрім арештованих, вони на термін арешту є
    нешановними панами). Один день арешту коштує 500 респанів.
    <br>
    Стаття 1.3. Рабство заборонено на території Панства. Всі люди в цьому плані рівні.
    <br>ПРИМІТКА: Заборонено саме рабство, але мати слугу дозволено. Проте лише за умови, якщо Вам його видали в ході
    компенсації збитків за вироком судді. Працює закон в будь-якому місті. Якщо хтось бере когось у рабство, то зменшити
    свій арешт звинувачений може за такою ціною: Один день арешту коштує 800 респанів.
    <br>
    Стаття 1.4. Спілкуватися треба обов'язково українською мовою. Державною мовою (допускаються всі мови крім
    російської). Якщо ви спілкуєтесь москальською, то карається семиденним позбавленням права писати.
    Якщо повідомлення опубліковане москальською мовою було змінено викладачем протягом 2 хвилин після опублікування це
    не рахується порушенням статті.
    <br>ПРИМІТКА: Використання російського тексту у медіа матеріалі не наказується. Так як, змінювання тексту займає
    занадто багато часу. Але країна ставить собі ціллю якомога скоріше повністю перейти на україномовний медіа матеріал.
    Відправка скопійованих/пересилання повідомлень, котрі були написаною іншою людиною, російською мовою не карається.
    Поки що це правило обов’язкове тільки в групах Шановне Панство, тобто не карається в інших місцях. Один день арешту
    коштує 600 респанів.
    <br>
    Стаття 1.6. Кожний громадянин Шановного Панства, та ті хто були її учасниками не мають права передавати будь-яку
    важливу інформацію, інформацію яка може вплинути якось на державу, її учасників, будь-кому крім інших учасників. Але
    якщо люди, які передали початково інформацію, то можна. Порушення карається 7-денним позбавленням права писати. Але
    бувають і винятки, це залежить від рівню наслідків.
    <br>ПРИМІТКА: Працює в будь-якому місті. Один день арешту коштує 400 респанів.
    <br>
    Стаття 1.7. Кожному гарантується право на свободу думки, на вільне вираження своїх поглядів.
    <br>ПРИМІТКА: Порушити цю статтю можна у разі зневаження інших поглядів людини: обзивання (не у жартівливому сенсі),
    ганьба людини. Покарання призначає суддя з проведенням судового слідства і у цьому разі ви ніяк не можете купити
    собі свободу.
    Порушенням буде вважатись тільки обзивання Шановних Панів (які не знаходяться під арештом).
    <br>Стаття 1.10. Опубліковувати медіа або текстові повідомлення які не несуть ніякого смислового навантаження (спам)
    більше ніж 5 раз на 5 хвилин не можна (наліпки, гіфи, фото, відео). Покарання - 5 днів повного арешту.
    <br>ПРИМІТКА: Працює в усіх групах Шановного Панства. Один день арешту коштує 500 респанів.
    <br>Стаття 1.26. Надсилати у групу медіа матеріали рейтингу 18+ з сексуальним контекстом заборонено (оголене незаблюрене тіло). Фотографії з жорстокими пораненнями, іншим чутливим контентом ОБОВ'ЯЗКОВО кидати під спойлером (блюром). 
    Довжина повного арешту залежить від рівню порушення, та може тривати 3-14 днів. Відкупитись у такому разі неможливо.
    Сподіваємось на ваше розуміння та співпрацю.
    <br> Стаття 2.3. Для прийняття рішення достатньо щоб проголосували 50% громадян.
    <br>Стаття 7.3. ЦИТАТИ в цитатник, бота-помічника можна писати будь-якою мовою
    <h2>Для переггляду повної Конституції переходьте за <a href="https://docs.google.com/document/d/1S5h1jW8ggGSu85QHj73MSZSnPwq4l0OubC9UYK9lYpw/edit">цим посиланням.</a></h2>
  </div>
  <h1> Чорний список</h1>
  !Видалення з цього списку майже неможливе!
  <br> <i>УВАГА: Вироки з 1-4 пунктів не змінюються. Вони були винесені за тією версію Конституції, яка була актуальна
    на тот момент.</i>
  <ul>
    <li> <b>Ром4ік/Роман4ік (Остапович Роман).</b> Рішення прийняте 07.03.2023. Причини: Імбецил всіх часів (набагато
      гірший за блонду). </li>
    <li> <b>Катюша (Ушакова Катерина).</b> Рішення прийняте 27.10.2022. Причини: За вироком: Я суддя Микита звинувачую
      Мишу К. у неправильному вихованні дитини Аміри та не слідкуванням за нею І присуджується до 30-денного позбавлення
      права голосу. І за порушення 1 статті конституції у групі Судові засідання ще 5 днів (не позбавлення права писати,
      а саме голоса). </li>
    <li> <b>Буднік Даниїл.</b> За результатами опитування у групі ДРШП знаходження у чорному списці подовжено до 14:15
      19.01.2024.</li>
  </ul>
  <h1 id="list">Перелік ради</h1>


  <br>Балан Марія-Анастасія. Міністр Шановного Панства, дизайнер.
  <br>Гавриченко Микита. Міністр, фінансовий робітник, суддя, адвокат.
  <br>Гурщенко Віталій. Міністр.
  <br>Жукова Аміра. Міністр, розробник, прокурор, слідчий.
  <br>Маламен Іван. Міністр.

{% endblock %}

{% block footer %}
All the rights reserved to "Бусюсюндри!"
{% endblock %}