{% extends 'app/base.html' %}
{% load static %}

{% block title %}
{{article.article_title}}
{% endblock %}


{% block main %}

<section class="article">
  <p class="article_title">{{article.article_title}}</p>

  <p class="article_text">{{article.article_text}}</p>

  <p class="pub_date">{{article.pub_date}}</p>
</section>


<!-- {% if article.was_published_recently %}
<h1 width="50px">Нова новина</h1>
{% endif %} -->

  {% if latest_comments_list%}

  {% for c in latest_comments_list %}
    <div class="comment">
      <p class="author_name">{{ c.author_name }}</p>
      <p class="comment_text">{{ c.comment_text }}</p>
      <br>
    </div>
      
  {% endfor %}

{% else %}
Тут поки немає коментарів, будь першим!
{% endif %}

<form class="input_form" width="100px" action="{% url 'leave_comment' article.id %}" method="POST">
  {% csrf_token %}
  <textarea class="input_text" name="text" required="" placeholder="Teкст коментаря" cols="30" rows="10"></textarea>
  <br>
  <button class="input_button" type="submit">Залишити коментар</button>
</form>
{% endblock %}

{% block footer %}
All the rights reserved to "Бусюсюндри!"
{% endblock %}