{% extends 'app/base.html' %}
{% load static %}

{% block title %}
Головна
{% endblock %}


{% block main %}
<section>
  <div class='latest-publications text'>
    <h3 class="latest-publications-h3">Новини:</h3>
    <ul>
      {% if latest_article_list%}
        {% for a in latest_article_list %}
          <li><a href="/{{a.id}}">{{a.article_title}}</a></li>
        {% endfor %}
      {% else %}
        <p class="no-news">Новин немає! Стабільність – ознака майстерності.</p> 
      {% endif %}
    </ul>
  </div>
</section>
{% endblock %}

{% block footer %}
All the rights reserved to "Бусюсюндри!"
{% endblock %}