{% extends 'app/base.html' %}
{% load static %}

{% block title %}
Головна
{% endblock %}


{% block main %}
  <h1 class="name-surname">{{ user.first_name }} {{ user.last_name }}</h1>
  <div class="profile">
    <h2>Нікнейм: {{ user.username }}</h2>
    <h2>Рахунок: {{ user.money }} рс</h2>
    <h2>Професія: {{ user.profession }}</h2>
    <button class="logout"onclick="location.href='{% url 'logout' %}?next=/profile'">Logout</button>
  </div>
  
{% endblock %}

{% block footer %}
All the rights reserved to "Бусюсюндри!"
{% endblock %}